.error {
      color: red;
      /*background-color: #acf;*/
}

label span{      
    color:red; 
    padding-left:5px;
}

$( ".select2-single, .select2-multiple" ).select2( {
				placeholder: placeholder,
				width: null,
				containerCssClass: ':all:'
			} );
