.update-btn {
    background: #337ab7;
    color: white;
    padding: 5px 12px;
    border: none;
    margin-left: 10px;
}
.export-btn-custom { margin-top: 24px;}

 table.table .actions {
     width: 100px;
     text-align: center;
 }

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
table.dataTable tr th.select-checkbox.selected::after {
    content: "✔";
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
}
#show_profile_img{
    width:80%;
}
.user-profile {
    width: 100%;
    min-height: 100%;
    max-height: 120px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 6px;
}
.profile-file input[type="file"]{
    opacity: 0;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border-radius: 100% !important;
}
.profile-file {
    position: relative;
    right: 0;
    bottom: 0;
    width: 120px;
    height: 40px;
    background: #fff;
    border: solid 1px #c3c3c3;
    text-align: center;
    padding: 9px 9px;
    font-size: 14px;
    line-height: normal;
    border-radius: 16px;
}

.pd-0 {padding:0 !important; ;}
.mt-10 { margin-top: 10px !important;}

#avatar-error { position: absolute;    width: 100%;    bottom: 0;    left: 0;
    top: 44px;}
.paid_status_drop{
    width: 8%;
    height: 29px;
    background: #337ab6;
    color: #ffffff;
    margin-left: 26px;
}

#membershipList tr td.test  { display: flex}

#member-create .form-control {    margin-bottom: 10px;}
#member-create .mb30 { margin-bottom: 30px !important;}
.mt25 { margin-top: 25px !important;}